/* Birthday webpage design */

h1,h2,h3,h4,p {
    text-shadow: 0px 0px 1px black;
}

/* h2,h4 {
    background-color: black;
} */

body {
    font-family: 'Happy Monkey', cursive;
    background-color: #111010;
    color: #fbfaf5;

    
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#gf-img {
    width: 250px;
    height:250px;
    border-radius: 50%;
    border: 6px solid #fbfaf5;
}

.gift {
    display: block;
    margin: 0px auto;
    border: 10px solid #623412;
    height: 500px;
    width: 500px;
    background: url("gift1.jpg");
    background-size: cover;
}

.gift:hover {
    background-image: url("damon-salvatore-hello.webp");
    
}
